<div style="text-align:center;" class="content-container">




  <div style="text-align:center;">
    <h1 style="margin-bottom:auto;">Wumpus-AI</h1>
    <a href="https://github.com/SifatSikder/Wumpus-AI-Project" target="_blank" rel="noopener">
      GitHub Repository
    </a>
    <nav style="margin-top: 0.5rem;">
      <button (click)="generateBoard()">Generate Board</button>
      <div style="width: 1rem; display: inline-block;"></div>

      <!-- <input type="file" (change)="onFileSelected($event)" accept=".csv" /> -->
      <div style="display: inline-block; background-color: rgb(82, 141, 82); padding: 10px;">
        <h2>Upload from CSV</h2>
        <input type="file" (change)="onFileSelected($event)" accept=".csv" />
        <button (click)="uploadFromCsv()">Upload</button>
      </div>
      <div style="width: 1rem; display: inline-block;"></div>

      <button (click)="play()">Play</button>
      <div style="width: 1rem; display: inline-block;"></div>

      <button (click)="autoplay()">Autoplay</button>
      <div style="width: 1rem; display: inline-block;"></div>
    </nav>
  </div>


  <div style="margin-top:1%;" *ngIf="boardGenerated">
    <div class="container-wrapper">
      <div class="container">
        <h2>Generated Board</h2>
        <table>
          <tr>
            <th></th>
            <th>W⬆</th>
            <th></th>
          </tr>
          <tr>
            <th>⬅S</th>
            <td>
              <table class="matrix-grid">
                <tr *ngFor="let row of actualBoard.reverse(); let i = index">
                  <td *ngFor="let cell of row; let j = index" class="matrix-cell">
                    {{actualBoard[i][j]}}
                    <img *ngIf="actualBoard[i][j] === 'A'" src="assets/agent.png" alt="A"
                      class="resizable-image transparent-image">

                    <img *ngIf="actualBoard[i][j] === 'P'" src="assets/pit-2.png" alt="P"
                      class="resizable-image transparent-image">

                    <img *ngIf="actualBoard[i][j] === 'W'" src="assets/wumpus.png" alt="W"
                      class="resizable-image transparent-image">

                    <img *ngIf="actualBoard[i][j] === 'G'" src="assets/gold-2.png" alt="G"
                      class="resizable-image transparent-image">
                    <img *ngIf="actualBoard[i][j] === 'DW' " src="assets/deadwumpus.jpg" alt="DW"
                      class="resizable-image transparent-image">
                  </td>
                </tr>
              </table>
            </td>
            <th>N➡</th>
          </tr>
          <tr>
            <th></th>
            <th>E⬇</th>
            <th></th>
          </tr>
        </table>
      </div>

      <div class="container">
        <h2>Agent View</h2>
        <table>
          <tr>
            <th></th>
            <th>W⬆</th>
            <th></th>
          </tr>
          <tr>
            <th>⬅S</th>
            <td>
              <table class="matrix-grid">
                <tr *ngFor="let row of agentViewBoard.reverse(); let i = index">
                  <td *ngFor="let cell of row; let j = index" class="matrix-cell">
                    {{agentViewBoard[i][j]}}

                    <img *ngIf="agentViewBoard[i][j] === '?W' " src="assets/stench.png" alt="?W"
                      class="resizable-image transparent-image">

                    <img *ngIf="agentViewBoard[i][j]=== '?P' " src="assets/breeze-3.png" alt="?P"
                      class="resizable-image transparent-image">

                    <img *ngIf="agentViewBoard[i][j] === 'OK A B S' || agentViewBoard[i][j] === 'OK A S'||agentViewBoard[i][j] === 'OK A' || agentViewBoard[i][j] === 'OK A B'
                    " src="assets/agent.png" alt="Image 3" class="resizable-image transparent-image">



                  </td>
                </tr>
              </table>
            </td>
            <th>N➡</th>
          </tr>
          <tr>
            <th></th>
            <th>E⬇</th>
            <th></th>
          </tr>
        </table>
      </div>

      <div class="container">
        <h2>Status</h2>
        <table class="matrix-grid">
          <tr>
            <td class="matrix-cell">Current Position </td>
            <td class="matrix-cell">{{currentPosition}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">Current Direction</td>
            <td class="matrix-cell">{{directionString}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">Died</td>
            <td class="matrix-cell">{{died}}</td>
          </tr>
          <!-- <tr>
            <td class="matrix-cell">Move Stack</td>
            <td class="matrix-cell">{{moves}}</td>
          </tr> -->
          <tr>
            <td class="matrix-cell">Stench</td>
            <td class="matrix-cell">{{stench}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">breeze</td>
            <td class="matrix-cell">{{breeze}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">remainingArrows</td>
            <td class="matrix-cell">{{remainingArrows}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">scream</td>
            <td class="matrix-cell">{{scream}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">gliterPosition</td>
            <td class="matrix-cell">{{gliterPosition}}</td>
          </tr>
          <tr>
            <td class="matrix-cell">haveGold</td>
            <td class="matrix-cell">{{haveGold}}</td>
          </tr>
        </table>

        <!-- {{glitter}}
        {{pathMap}}
        {{pitMap}}
        {{wumpusMap}} -->
      </div>

    </div>
  </div>

</div>