<div style="text-align:center;">
  <h1 style="margin-bottom:auto;">Wumpus-AI</h1>
  <a href="https://github.com/SifatSikder/Wumpus-AI-Project" target="_blank" rel="noopener">
    GitHub Repository
  </a>
  <nav style="margin-top: 0.5rem;">
    <a routerLink="generate" routerLinkActive="active">Generate Board</a>
    <div style="width: 1rem; display: inline-block;"></div>

    <a routerLink="generate">Upload Board from CSV</a>
    <div style="width: 1rem; display: inline-block;"></div>

  </nav>
</div>
<div style="margin:0; max-width:500px;">
  <router-outlet></router-outlet>
</div>